[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Icon=/opt/rubymine/RubyMine-{{ rubymine_version }}/bin/RMlogo.svg
Exec="/opt/rubymine/RubyMine-{{ rubymine_version }}/bin/rubymine.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine
